@use "sass:map";

$enable-css-variables: true !default;

$primary: #067b95;
$primary-dark: #004555;
$primary-light: #ebe5fc;
$secondary: #6c757d;
$secondary-dark: #54595e;
$secondary-light: #abb5be;
$success: #28a745;
$danger: #dc3545;
$warning: #ffc107;
$info: #17a2b8;
$light: #f8f9fa;
$dark: #111827;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "info": $info,
  "light": $light,
  "dark": $dark
);

$grays: (
  100: #f8f9fa,
  200: #e9ecef,
  300: #dee2e6,
  400: #ced4da,
  500: #adb5bd,
  600: #6c757d,
  700: #495057,
  800: #343a40,
  900: #212529
);

$reds: (
  50:  #fef2f2,
  100: #F8D7DA,
  200: #fecaca,
  300: #fca5a5,
  400: #f87171,
  500: #ef4444,
  600: #dc2626,
  700: #842029,
  800: #991b1b,
  900: #7f1d1d
);

$greens: ( 
    50: #f0fdf4, 
    100: #dcfce7, 
    200: #bbf7d0, 
    300: #86efac, 
    400: #4ade80, 
    500: #198754, 
    600: #16a34a, 
    700: #15803d, 
    800: #166534, 
    900: #14532d 
);


@each $key, $value in $grays {
  .text-gray-#{$key} {
    color: var(--bs-gray-#{$key}) !important;
  }
}


@each $key, $value in $grays {
  .bg-gray-#{$key} {
    background-color: var(--bs-gray-#{$key}) !important;
  }
}

@each $key, $value in $reds {
  :root {
    --bs-red-#{$key}: #{$value};
  }
}

@each $key, $value in $reds {
  .text-red-#{$key} {
    color: var(--bs-red-#{$key}) !important;
  }
}

@each $key, $value in $reds {
  .bg-red-#{$key} {
    background-color: var(--bs-red-#{$key}) !important;
  }
}

@each $key, $value in $greens {
  :root {
    --bs-green-#{$key}: #{$value};
  }
}

@each $key, $value in $greens { 
    .text-green-#{$key} { 
        color: var(--bs-green-#{$key}) !important; 
    } 
} 

@each $key, $value in $greens { 
    .bg-green-#{$key} { 
        background-color: var(--bs-green-#{$key}) !important; 
    } 
}

.table thead tr {
  border-bottom: 2px solid map.get($grays, 300) !important;
}

.table tbody tr {
  border-bottom: 1px solid map.get($grays, 300) !important;
}